@{
    ViewBag.Title = "Movy";
}

<div class="jumbotron">
    <h1>Movy</h1>
    <p class="lead">Movy is a free website where you can review and rate your favorite movies.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>@Html.ActionLink("Add a movie", "Add", "Movie", new { }, new { })</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
    <div class="col-md-6">
        <h2>@Html.ActionLink("Find a movie", "Index", "Search", new { }, new { })</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
</div>