@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Search", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>Find a movie</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.TextBox("s", "", new { @class = "form-control" })
                    </div>
                    <div class="col-md-9">
                        <input type="submit" value="Go" class="btn btn-default" />
                    </div>
                </div>
                if(ViewBag.NoMatch)
                {
                    <h5>No Match</h5>
                }
            }
        </section>
    </div>
</div>
